.user-column {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding-left: 1px;
  padding-right: 1px;
}

@media (max-width: 1024px) {
  .user-column {
    width: 100%;
  }
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* @media (min-width: 1280px) {
  .column-header {
      margin-bottom: 2.25rem;
  }
} */

.column-header-left {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.column-header-title {
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.column-header-count {
  font-size: 1rem;
  font-weight: 500;
  color: #999;
}

.column-header-buttons {
  display: flex;
  gap: 0.5rem;
  height: fit-content;
}

.column-header-button {
  height: fit-content;
  cursor: pointer;
  display: flex;
  border: none;
  gap: 0.25rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  align-items: center;
}

.column-header-button:hover {
  background-color: #f0f0f0;
}

.column-header-icon {
  width: 1rem;
  height: 1rem;
  color: #4d4d4d;
}

.tickets {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.badge--offline {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 8px;
  width: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #808080;
}

.badge--online {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 8px;
  width: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #00ff00;
}
