.container {
  position: relative;
}

.badge--offline {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 8px;
  width: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #474242;
}

.badge--online {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 8px;
  width: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #00ff00;
}
